# Create subsets to run on AVATAR on a date-by-date basis

## Author(s): Sven Buder (SB, WG4)

### History:
180926 SB Created

In [1]:
import numpy as np
from astropy.table import Table

In [2]:
sobject_data = Table.read('sobject_iraf_53_2MASS_GaiaDR2_WISE_PanSTARRSDR1_BailerJones_K2seis_small.fits')

## Apply quality cut: PLX available and FLAG_GUESS <= 8

In [3]:
print('initial set:           '+str(len(sobject_data)))
quality_cut = np.isfinite(sobject_data['parallax']) & (sobject_data['flag_guess'] <= 8)

sobject_data = sobject_data[quality_cut]

u1, sobject_data_index = np.unique(sobject_data['sobject_id'], return_index=True)

sobject_data = sobject_data[sobject_data_index]
print('set after quality cut: '+str(len(sobject_data)))

initial set:           871483
set after quality cut: 694459

Before 180131 this number was 652799.
For the next runs, we run on a date-by-date basis, so everything after 180131

In [4]:
post180131 = (sobject_data['sobject_id'] > 180131999900000)
sobject_data = sobject_data[post180131]
print('After 180131 after quality cut: '+str(len(sobject_data)))

After 180131 after quality cut: 41660

In [5]:
dates = np.unique(sobject_data['date'])

In [9]:
[180602, 180603, 180604, 180620, 180621, 180622, 180623, 180625, 180628, 181221, 181222, 181223, 181224, 181225, 181226, 190206, 190207, 190209, 190210, 190211, 190212, 190223, 190224, 190225]

[180602,
 180603,
 180604,
 180620,
 180621,
 180622,
 180623,
 180625,
 180628,
 181221,
 181222,
 181223,
 181224,
 181225,
 181226,
 190206,
 190207,
 190209,
 190210,
 190211,
 190212,
 190223,
 190224,
 190225]

## Create subsets for each date

In [7]:
for date in dates:
    subset = sobject_data[(sobject_data['date']==date)]
    
    print(date,len(subset))
    
    np.savetxt('YYMMDD/GALAH_'+str(date)+'_lbol',np.array([[str(date)+'_lbol' for x in range(len(subset))],subset['sobject_id'],['DR3' for x in range(len(subset))]]).T,fmt='%s')

180602 575
180603 975
180604 822
180620 780
180621 1653
180622 1360
180623 1351
180625 2169
180628 1938
181221 2668
181222 2393
181223 2417
181224 2368
181225 2271
181226 2292
190206 1836
190207 1205
190209 1728
190210 1908
190211 1931
190212 1307
190223 1297
190224 1902
190225 2514